header {
margin-bottom:3rem;
}

p {
    line-height:1.6;
}

.see-all {
    font-size: .8em;
    font-style: uppercase;
}

h1 {
    font-size:2.5rem;
    border-top:1px solid black;
}

h2 {
    font-style: uppercase;
    font-size:1rem;
}

h1, h2 {
    font-weight: lighter;
}

img {
    width:100%;
}

.cast li {
    width:25%;
}

.selected {
    color:black;
    font-style:bold;
}
div {
    font-size:0.8rem;
}
div:first-of-type {
    font-weight: bold;
}

div:last-of-type {
    font-style: italic;
}

#game-of-thrones ul:last-child::after {
    content: "*";
}
li#game-of-thrones .seasons::after {
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}